//Hero for Shows Section for Mobile

.hero-shows {
  padding: 0 1rem 1.25rem;
  background-image: linear-gradient($black-gradient),
    url(.././assets/images/dj.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: $white;

  &__album-title {
    @include subheader(0.75rem, 1rem);
    padding-top: 35px;
  }

  &__slogan {
    @include header(35px, 2.5rem);
    width: 100%;
    padding-bottom: 25px;
  }

  &__song {
    width: 100%;
    max-width: 600px;
  }
}

//Hero for Shows Section for Tablet

@include tablet {
  .hero-shows {
    height: 60vh;

    &__container {
      padding: 10px 0 0 16px;
    }

    &__album-title {
      @include subheader(1rem, 1rem);
    }

    &__slogan {
      @include header(3.75rem, 4.25rem);
      width: 80%;
      padding: 0 0 1.563rem;
      margin: 0;
    }

    &__song {
      margin-top: 20px;
      width: 62%;
    }
  }
}

//Hero for Shows Section for Desktop

@include desktop {
  .hero-shows {
    height: 50vh;

    &__container {
      padding: 15px 0 0 11.25rem;
    }

    &__album-title {
    }

    &__desktop {
      display: flex;
      flex-direction: row;
    }

    &__slogan {
      color: $white;
      width: 48%;
      padding: 0 0 4.063rem 0;
      margin: 0;
    }

    &__song {
      margin-top: 90px;
      padding: 0 11.25rem 0 20px;
    }
  }
}
